**/.pbi/localSettings.json

.venv/
venv/
env/
__pycache__/

target/
dbt_packages/
logs/
manifest.json
run_results.json
catalog.json
sources.json
dbt_internal_packages

flyway/reports/
flyway/drivers/
flyway/jars/

*.log
.vscode/

tmp/
temp/
.cache/
.cache/**