name: dbt + Flyway CI/CD

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop]
  workflow_call:
    inputs:
      ref:
        description: 'tag version or commit to deploy (this is not implemented yet so will deploy the last commit of the branch)'
        required: false
        type: string

jobs:
  deploy_dev:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    env:
      DBT_PROFILES_DIR: ./.dbt
      FLYWAY_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with: { python-version: '3.11' }

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Setup Flyway CLI
        uses: red-gate/setup-flyway@v1
        with:
          version: '11.15.0'
          edition: community
          platform: linux
          architecture: x64

      - name: Flyway migrate (DEV)
        run: flyway -configFiles=flyway/conf/dev.conf -locations=filesystem:flyway/migrations/versioned clean -X migrate info

      - name: dbt clean (DEV)
        run: dbt clean

      - name: dbt build (DEV)
        run: dbt build -x --target dev

      - name: Attach policies (DEV)
        run: flyway -configFiles=flyway/conf/dev.conf -locations=filesystem:flyway/migrations/repeatable -X migrate info

  deploy_prod:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      DBT_PROFILES_DIR: ./.dbt
      FLYWAY_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with: { python-version: '3.11' }

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Setup Flyway CLI
        uses: red-gate/setup-flyway@v1
        with:
          version: '11.15.0' 
          edition: community
          platform: linux
          architecture: x64

      - name: Flyway migrate (PROD)
        run: flyway -configFiles=flyway/conf/prod.conf -locations=filesystem:flyway/migrations/versioned clean -X migrate info

      - name: dbt clean (PROD)
        run: dbt clean

      - name: dbt build (PROD)
        run: dbt build -x --target dev

      - name: Attach policies (PROD)
        run: flyway -configFiles=flyway/conf/prod.conf -locations=filesystem:flyway/migrations/repeatable -X migrate info
